@import url("./bootstrap.min.css");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.unset-img {
  width: 100%;
}

.unset-img > * {
  position: unset !important;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.Toastify__toast-body * {
  font-size: 14px;
}
